<template id="schemes-template">
    <div>
        <div class="col-sm-12">
            <div class="input-group">
                <input class="form-control" type="text" v-on:keyup.enter="getItems" placeholder="search..." />
                <button type="button" class="btn btn-secondary form-control sm" v-on:load="getItems" v-on:click="getItems">Go!</button>
                <button type="button" class="btn btn-primary form-control sm" v-on:load="getItems" v-on:click="getItems">+</button>
            </div>
        </div>
        <div class="col-sm-12">
            <table class="table table-responsive-md table-borderless">
                <thead>
                    <tr>
                        <th>Schemes</th>
                        <!--<th></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>
                            <div class="input-group">
                                <a class="btn btn-outline-light form-control" v-on:click="editScheme(item)">
                                    {{item.Name}} ({{item.Code}})
                                </a>
                                <button class="btn btn-outline-danger form-control sm" v-on:click="deleteScheme(item)">x</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>